//Color Variables
$navMenuButtonColor: #213a7f;
$logoSubtitleColor: #7e685a;

$bannerBGColor: linear-gradient(155deg,#154b9c,#213b7f);
$bannerTextColor: #fff;

$subBannerBGColor: #eff6df;
$subBannerTextColor: #000;

$cyberDataColor: #4ac694;
$systemAdminColor: #a3b6cc;
$digitalMarketingColor: #3a5998;
$qaColor: #316cff;
$graphicDesignColor: #f9cf58;
$fullstackDevColor: #9da6e9; //BUG: Should be changed to logo color
$mobileDevColor: #8e8e93;
$embbededColor: #475f8e;


$categoriesTextColor: #fff;
$diagnoseBGColor: #0598a8;
$routesBGColor: #39a4dc;
$placementBGColor: #06f;
$careerBGColor: #213b7f;