@import "_variables.scss";

.banner{
    background: $bannerBGColor;
    height: 130px;
    width: 100%;
    color: $bannerTextColor;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
    .banner__text{
        display: flex;
        flex-flow: column;
        font-size: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        height:100%;
        line-height: 1.1;
        font-weight: 600;

        .emphasis{
            font-size: 66px;
            font-weight: 800;
        }
    }
}
.sub-banner{
    background-color: $subBannerBGColor;
    color: $subBannerTextColor;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
    padding: 5px;

}