
*{
    direction: rtl;
    box-sizing: border-box;
    font-family: "Assistant",sans-serif;
}

body{
    margin: 0;
}

p{
    font-size: 1.1rem;
    cursor: default;
}

h2{
    text-align: center;
    margin: 10px auto;
}

.page-section{
    width:100%;
    padding: 50px 15px 60px 0;
    background: url('/public/media/backgrounds/background1.png') no-repeat;
    background-size: cover;
}

.white-bg{
    background: white;
}

.title{
    font-size: 2.9rem;
    margin: 0;
    text-align: center;
}