@import "_variables.scss";

//Navigation Bar general
.navigation-bar{
    width: 100%;
    height: 150%;
    position: relative;
    top: 0;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 4;
    @media (min-width:925px){
        position: sticky;
        top:0;
        right:0;
        width:100%;
        height:73px;
        justify-content: center;
        align-items: center;
    }
}

.navigation-container{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    z-index: 5;
    @media (min-width:925px) {
        width: fit-content;
    }

    .links-container{
        display: none;
        position: absolute;
        top: 53px;
        right:0;
        width:100%;
        background: #fff;
        padding-right: 20px;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        &.show{
            display:flex;
            border-bottom: 10px solid #213b7f;
        }
        .nav-link{
            font-size: 1.25rem;
            margin: 10px 0 20px 0;
            color: #000;
        }
        .nav-link:hover{
            cursor: pointer;
        }
        
        
        @media (min-width:925px){
            display: flex;
            position: static;
            padding-right: 0;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-grow:0;
            height:100%;
            
            #home{
                display: none;
            }
            .nav-link{
                font-size: 16px;
                margin: 10px 2px;
            }
            .careers-container{
                margin:10px 2px;
                display: flex;
                justify-content: center;
                span{
                    font-size: 16px;
                } 
                .career-link{
                    margin: 0;
                }
            } 
            .link-container{
                display: flex;
                justify-content: flex-end;
                flex-shrink: 0;
                a:hover{
                    font-weight: 700;
                    color: #213a7f;
                }
            }  
            .splitter::after{
                content: "|";
                font-size: 1.5rem;
                margin-right: 5px;
                color: #000;
                font-weight: 400;
                transform: scale(1);
            } 
        }
    }
}

//Menu Hamburger button
.menu-button{
    width: 40px;
    height: 40px;
    margin: 7px 0 auto 10px;
    position: relative;
    align-self: flex-start;
    
    .menu-line{
        height: 5px;
        width: 40px;
        margin: 7px 0;
        background: $navMenuButtonColor;
        border-radius: 30px;
        transition: all 200ms linear;
    }
    &.active>#menu-line-top{
        transform: rotateZ(45deg) translateY(5px) translateX(11.5px);
    }
    &.active>#menu-line-middle{
        transform: translateX(2rem);
        opacity:0;
    }
    &.active>#menu-line-bottom{
        transform: rotateZ(-45deg) translateY(-5px) translateX(11.5px);
    }
    @media (min-width:925px) {
        display: none;
    }
}

//Navigation Bar Logo
a{
    text-decoration: none;
    cursor: default;
    display: flex;
    margin: 0;
    .logo-container{
        height: 60px;
        margin-top: -7px;
        width: min-content;
        flex-shrink: 0;
        align-self: flex-end;
        position: relative;
    
        .logo{
            margin: 0 auto 5px;
            flex-shrink: 0;
            height: 100%;
    
        }
        .nav-subtitle{
            font-size: 0.6rem;
            font-weight: 700;
            color: $logoSubtitleColor;
            position: absolute;
            bottom: 8px;
            right: 10px;
        }
    }
    @media (min-width:925px) {
        .logo-container{
            height:73px;
            margin-top: 0;
        }
    }
}