.faq {
  background: #fff6df;
}

.aq {
  border: 0.5px solid #dbdbdb;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 0 10px;
}
.aq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #007cba;
  font-size: 1.1rem;
  margin: 10px 0;
  height: 80px;
  font-weight: 600;
  padding: 5px;
}
.aq .answer {
  transition: all 0.2s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.aq .answer.show {
  max-height: 800px;
  margin-bottom: 15px;
}

.question-arrow {
  width: 18px;
  height: 18px;
  filter: invert(32%) sepia(36%) saturate(4241%) hue-rotate(179deg) brightness(89%) contrast(101%);
  transition: all 0ms linear;
}

.flipped {
  transform: rotate(180deg);
}

@media (min-width: 925px) {
  .faq .aq-segments-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 50px;
  }
  .faq .aq-segments-container .aq {
    width: 450px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 17px;
  }
}
