@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;700;800&display=swap");
* {
  direction: rtl;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  font-size: 1.1rem;
  cursor: default;
}

h2 {
  text-align: center;
  margin: 10px auto;
}

.page-section {
  width: 100%;
  padding: 50px 15px 60px 0;
  background: url("/public/media/backgrounds/background1.png") no-repeat;
  background-size: cover;
}

.white-bg {
  background: white;
}

.title {
  font-size: 2.9rem;
  margin: 0;
  text-align: center;
}

.navigation-bar {
  width: 100%;
  height: 150%;
  position: relative;
  top: 0;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 4;
}
@media (min-width: 925px) {
  .navigation-bar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 73px;
    justify-content: center;
    align-items: center;
  }
}

.navigation-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  z-index: 5;
}
@media (min-width: 925px) {
  .navigation-container {
    width: fit-content;
  }
}
.navigation-container .links-container {
  display: none;
  position: absolute;
  top: 53px;
  right: 0;
  width: 100%;
  background: #fff;
  padding-right: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.navigation-container .links-container.show {
  display: flex;
  border-bottom: 10px solid #213b7f;
}
.navigation-container .links-container .nav-link {
  font-size: 1.25rem;
  margin: 10px 0 20px 0;
  color: #000;
}
.navigation-container .links-container .nav-link:hover {
  cursor: pointer;
}
@media (min-width: 925px) {
  .navigation-container .links-container {
    display: flex;
    position: static;
    padding-right: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    height: 100%;
  }
  .navigation-container .links-container #home {
    display: none;
  }
  .navigation-container .links-container .nav-link {
    font-size: 16px;
    margin: 10px 2px;
  }
  .navigation-container .links-container .careers-container {
    margin: 10px 2px;
    display: flex;
    justify-content: center;
  }
  .navigation-container .links-container .careers-container span {
    font-size: 16px;
  }
  .navigation-container .links-container .careers-container .career-link {
    margin: 0;
  }
  .navigation-container .links-container .link-container {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
  }
  .navigation-container .links-container .link-container a:hover {
    font-weight: 700;
    color: #213a7f;
  }
  .navigation-container .links-container .splitter::after {
    content: "|";
    font-size: 1.5rem;
    margin-right: 5px;
    color: #000;
    font-weight: 400;
    transform: scale(1);
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  margin: 7px 0 auto 10px;
  position: relative;
  align-self: flex-start;
}
.menu-button .menu-line {
  height: 5px;
  width: 40px;
  margin: 7px 0;
  background: #213a7f;
  border-radius: 30px;
  transition: all 200ms linear;
}
.menu-button.active > #menu-line-top {
  transform: rotateZ(45deg) translateY(5px) translateX(11.5px);
}
.menu-button.active > #menu-line-middle {
  transform: translateX(2rem);
  opacity: 0;
}
.menu-button.active > #menu-line-bottom {
  transform: rotateZ(-45deg) translateY(-5px) translateX(11.5px);
}
@media (min-width: 925px) {
  .menu-button {
    display: none;
  }
}

a {
  text-decoration: none;
  cursor: default;
  display: flex;
  margin: 0;
}
a .logo-container {
  height: 60px;
  margin-top: -7px;
  width: min-content;
  flex-shrink: 0;
  align-self: flex-end;
  position: relative;
}
a .logo-container .logo {
  margin: 0 auto 5px;
  flex-shrink: 0;
  height: 100%;
}
a .logo-container .nav-subtitle {
  font-size: 0.6rem;
  font-weight: 700;
  color: #7e685a;
  position: absolute;
  bottom: 8px;
  right: 10px;
}
@media (min-width: 925px) {
  a .logo-container {
    height: 73px;
    margin-top: 0;
  }
}

@media (max-width: 925px) {
  #careers-button {
    width: 100%;
  }
}

.careers-container {
  margin: 10px 0 20px 0;
  position: relative;
  width: 100%;
}
.careers-container span {
  font-size: 1.25rem;
  color: #000;
}
.careers-container span i {
  font-style: normal;
  font-size: 15px;
}
.careers-container .career-links {
  display: none;
  flex-direction: column;
  width: 100%;
}
.careers-container .career-links.show {
  display: flex;
}
.careers-container .career-link {
  font-size: 1.25rem;
  margin: 10px 10px 20px 0;
  color: #000;
  width: 100%;
}
@media (max-width: 925px) {
  .careers-container .career-link {
    border-bottom: 1px dashed #aad6be;
  }
}
@media (min-width: 925px) {
  .careers-container .career-links {
    display: none;
    flex-flow: column;
    flex-wrap: wrap;
    background-color: rgba(33, 59, 127, 0.99);
    position: absolute;
    top: 25px;
    right: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 300px;
    width: 800px;
    border: none;
  }
  .careers-container .career-links:hover {
    display: flex;
  }
  .careers-container .career-link {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 10px;
    cursor: pointer;
  }
  .careers-container .career-link:hover {
    background-color: white;
  }
}

.banner {
  background: linear-gradient(155deg, #154b9c, #213b7f);
  height: 130px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner__text {
  display: flex;
  flex-flow: column;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.1;
  font-weight: 600;
}
.banner .banner__text .emphasis {
  font-size: 66px;
  font-weight: 800;
}
@media (min-width: 925px) {
  .banner {
    height: 190px;
  }
  .banner .banner__text {
    font-size: 90px;
    line-height: 0.8;
  }
  .banner .banner__text .emphasis {
    font-size: 120px;
  }
}

.sub-banner {
  background-color: #eff6df;
  color: #000;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.main-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 70px;
}
@media (min-width: 925px) {
  .main-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
  }
}

.courses .courses__title {
  margin: 25px 0;
  text-align: center;
  font-size: 2.9rem;
  overflow: visible;
}
.courses .courses__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: show 800ms;
}
.courses .courses__container .course {
  display: flex;
  height: 153px;
  width: 128px;
  flex-flow: column;
  align-items: center;
  text-align: center;
  line-height: 0.9rem;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 10px;
}
.courses .courses__container .course .course__separator {
  width: 40px;
  height: 4px;
  margin: 10px auto 0;
  border-radius: 15px;
}
.courses .courses__container .course .course__name {
  font-size: 16px;
  color: black;
  text-align: center;
  margin-top: 5px;
}
@media (max-width: 450px) {
  .courses .courses__container .course {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 45px;
    min-height: 43px;
    align-items: center;
    margin-left: 0;
    margin-bottom: 5px;
    padding-right: 5px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    flex-shrink: 0;
  }
  .courses .courses__container .course .course__logo {
    margin-left: 15px;
  }
  .courses .courses__container .course .course__logo img {
    height: 40px;
    width: 40px;
  }
  .courses .courses__container .course .course__separator {
    width: 4px;
    height: 30px;
    border-radius: 15px;
    margin: 0 1px;
    flex-shrink: 0;
  }
  .courses .courses__container .course .course__name {
    display: flex;
    margin-top: 0;
    margin-right: 7px;
    text-align: start;
    width: 100%;
  }
  .courses .courses__container .course .course__arrow {
    display: block;
    width: 10px;
    height: 20px;
    justify-self: center;
    flex-shrink: 0;
    margin-left: 7px;
  }
}
.courses .courses__container .course:hover {
  opacity: 0.7;
  cursor: pointer;
}
.courses .courses__container #cyber-data > .course__separator {
  background-color: #4ac694;
}
.courses .courses__container #system-admin > .course__separator {
  background-color: #a3b6cc;
}
.courses .courses__container #digital-marketing > .course__separator {
  background-color: #3a5998;
}
.courses .courses__container #qa > .course__separator {
  background-color: #316cff;
}
.courses .courses__container #graphic-design > .course__separator {
  background-color: #f9cf58;
}
.courses .courses__container #fullstack-dev > .course__separator {
  background-color: #9da6e9;
}
.courses .courses__container #mobile-dev > .course__separator {
  background-color: #8e8e93;
}
.courses .courses__container #embbeded > .course__separator {
  background-color: #475f8e;
}
@media (min-width: 925px) {
  .courses .courses__container {
    height: 400px;
    width: 700px;
  }
}

.desktop-contact-form {
  background: linear-gradient(155deg, #154b9c, #213b7f) !important;
  height: 490px;
  min-width: 290px;
}
.desktop-contact-form h2 {
  color: #fff;
}
.desktop-contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desktop-contact-form form button {
  border: 2px solid #00b8d4;
  height: 96%;
  width: 250px;
  margin: 1px;
  color: #000;
  font-size: 2.3rem;
  font-weight: 600;
}
.desktop-contact-form form .form-check {
  display: flex;
  color: #fff;
  flex-direction: row-reverse;
  font-size: 0.8rem;
  margin-top: 10px;
  justify-content: center;
  width: 80%;
  margin-bottom: 10px;
}
.desktop-contact-form form .form-field {
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  height: 60px;
}
.desktop-contact-form form .form-field label {
  width: 25%;
  margin-left: 10px;
  font-size: 0.9rem;
  white-space: nowrap;
  padding-right: 5px;
  color: #373737;
  font-weight: 700;
}
.desktop-contact-form form .form-field .form-field__separator {
  position: relative;
  float: left;
  background-color: #213b7f;
  width: 3px;
  height: 1.3rem;
  border-radius: 20px;
  flex-shrink: 0;
}
.desktop-contact-form form .form-field input {
  width: 70%;
  max-width: 250px;
  height: 100%;
  border: none;
  outline: none;
}
.desktop-contact-form form .form-info {
  display: flex;
  flex-direction: column;
}
.desktop-contact-form form .form-info .form-policy {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  margin-top: 0.5rem;
}
@media (max-width: 924px) {
  .desktop-contact-form {
    display: none;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.why-us {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.why-us .why-us__title {
  font-size: 2.9rem;
  text-align: center;
}
.why-us .why-us__description {
  padding: 50px 15px 60px 0;
}
.why-us .why-us__description .pro-text {
  margin-right: 5px;
}
.why-us .why-us__description .pro-text.blue {
  color: #0000ff !important;
}
.why-us .why-us__description .why-us__description__difference {
  padding: 10px;
  margin: 10px 0;
}
.why-us .why-us__description .why-us__description__difference.them {
  background-color: black;
  color: white;
}
.why-us .why-us__description .why-us__description__difference.us {
  background-color: #eff6df;
  color: black;
}
.why-us .why-us__description .why-us__description__difference .paragraph-link {
  display: inline;
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}
.why-us .why-us__description .why-us__description__difference > ol {
  padding-right: 20px;
}
.why-us .why-us__description .why-us__description__difference > ol > li {
  font-size: 1.1rem;
  cursor: default;
}
@media (min-width: 925px) {
  .why-us {
    height: 70%;
    margin: 0;
    padding-bottom: 0;
    box-shadow: 10px 50px 100px #000;
  }
}

@media (min-width: 925px) {
  .why-us__description__differences {
    display: flex;
  }
  .why-us__description__differences .why-us__description__difference {
    width: 50%;
    max-width: 550px;
    margin: 10px;
    padding: 10px;
    transition: all 500ms linear;
  }
  .why-us__description__differences .why-us__description__difference:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 50px;
  }
}
#our-partners {
  background: white;
}

.our-partners .our-partners__logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.our-partners .our-partners__logos .partner-logo {
  max-width: 100px;
  max-height: 100px;
  margin: 22px;
  flex-shrink: 0;
  object-fit: fill;
}

.categories {
  padding: 20px;
  margin: 0 10px;
}
.categories .category {
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  position: relative;
}
.categories .category .category__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
}
.categories .category .category__title .plus-icon {
  width: 15px;
  height: 15px;
  margin-left: 12px;
}
.categories .category .category__content {
  color: #fff;
  transition: all 300ms linear;
  max-height: 900px;
  overflow: hidden;
}
.categories .category .category__content.closed {
  max-height: 0;
}
.categories .category .arrow {
  display: none;
}

.category__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
}
.category__title .plus-icon {
  width: 15px;
  height: 15px;
  margin-left: 12px;
}

#diagnose {
  background-color: #0598a8;
}

#routes {
  background-color: #39a4dc;
}

#placement {
  background-color: #06f;
}

#career {
  background-color: #213b7f;
}

@media (min-width: 1205px) {
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }
  .categories .category {
    margin: 0;
    padding: 45px;
  }
  .categories .category .category__title .plus-icon {
    display: none;
  }
  .categories .category .arrow {
    display: block;
    position: absolute;
  }

  #placement {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #career {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
#diagnose-arrow {
  width: 0;
  height: 0;
  top: 40px;
  right: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #0598a8;
}

#routes-arrow {
  width: 0;
  height: 0;
  top: 0px;
  left: 40px;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid #39a4dc;
}

#placement-arrow {
  width: 0;
  height: 0;
  top: 40px;
  left: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #06f;
}

.faq {
  background: #fff6df;
}

.aq {
  border: 0.5px solid #dbdbdb;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 0 10px;
}
.aq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #007cba;
  font-size: 1.1rem;
  margin: 10px 0;
  height: 80px;
  font-weight: 600;
  padding: 5px;
}
.aq .answer {
  transition: all 0.2s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.aq .answer.show {
  max-height: 800px;
  margin-bottom: 15px;
}

.question-arrow {
  width: 18px;
  height: 18px;
  filter: invert(32%) sepia(36%) saturate(4241%) hue-rotate(179deg) brightness(89%) contrast(101%);
  transition: all 0ms linear;
}

.flipped {
  transform: rotate(180deg);
}

@media (min-width: 925px) {
  .faq .aq-segments-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 50px;
  }
  .faq .aq-segments-container .aq {
    width: 450px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 17px;
  }
}
.ps-questions-container .qa-container {
  padding: 0 10px;
  border: 0.5px solid #dbdbdb;
  border-left: none;
  border-right: none;
  width: 100%;
}
.ps-questions-container .qa-container .question {
  font-weight: 600;
  font-size: 1.1rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  color: #007cba;
}
.ps-questions-container .qa-container .answer {
  max-height: 0;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.ps-questions-container .qa-container .answer.show {
  max-height: 800px;
  margin-bottom: 15px;
}
.ps-questions-container .qa-container .answer a {
  display: block;
  text-decoration: underline;
  color: #00f;
  font-weight: 600;
}

@media (min-width: 925px) {
  .ps-questions-containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 50px;
  }
  .ps-questions-containers .ps-questions-container .qa-container {
    width: 450px;
    margin: 0 17px;
  }
}
.footer {
  background: #213b7f;
  padding-bottom: 110px;
}
.footer form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer form button {
  border: 2px solid #00b8d4;
  height: 96%;
  width: 250px;
  margin: 1px;
  color: #000;
  font-size: 2.3rem;
  font-weight: 600;
}
.footer form .form-check {
  display: flex;
  color: #fff;
  flex-direction: row-reverse;
  font-size: 0.8rem;
  margin-top: 10px;
  justify-content: center;
}
.footer form .form-policy {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  margin-top: 0.5rem;
}
.footer .form-field {
  width: 100%;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  height: 60px;
}
.footer .form-field label {
  width: 25%;
  margin-left: 10px;
  font-size: 0.9rem;
  white-space: nowrap;
  padding-right: 5px;
  color: #373737;
  font-weight: 700;
}
.footer .form-field .form-field__separator {
  position: relative;
  float: left;
  background-color: #213b7f;
  width: 3px;
  height: 1.3rem;
  border-radius: 20px;
  flex-shrink: 0;
}
.footer .form-field input {
  width: 70%;
  max-width: 250px;
  height: 100%;
  border: none;
  outline: none;
}

.footer > h2 {
  color: white;
  font-size: 1.2rem;
  padding-top: 10px;
  margin: 0 10px 15px;
}

@media (min-width: 925px) {
  .footer {
    padding-bottom: 50px;
  }

  #contact-form form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 950px;
  }
  #contact-form form .form-field {
    width: 22%;
    max-width: 260px;
    margin: 25px 5px;
    flex-shrink: 5;
  }
  #contact-form form button {
    flex-shrink: 0;
  }
  #contact-form form .break {
    width: 100%;
  }
  #contact-form form .form-info {
    display: flex;
    flex-direction: column;
  }
}
#contact-bar__mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #06f;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#contact-bar__mobile .contact-bar-mobile-button {
  flex-grow: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#contact-bar__mobile .contact-bar-mobile-button span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
#contact-bar__mobile .contact-bar-mobile-button.border-right {
  border-right: 2px solid #fff;
}
#contact-bar__mobile .contact-bar-mobile-button img {
  filter: invert(100%) sepia(0%) saturate(6265%) hue-rotate(67deg) brightness(114%) contrast(94%);
  margin: 0 5px;
}
#contact-bar__mobile .contact-bar-mobile-button #pointer {
  width: 40px;
  height: 40px;
  margin: 0;
}
@media (min-width: 925px) {
  #contact-bar__mobile {
    display: none;
  }
}

#contact-bar__desktop {
  display: none;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  border: 2px solid #25d366;
  border-radius: 15px;
  width: 270px;
  height: 35px;
  background: #06f;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
#contact-bar__desktop a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact-bar__desktop span {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
#contact-bar__desktop img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(6265%) hue-rotate(67deg) brightness(114%) contrast(94%);
}
@media (min-width: 925px) {
  #contact-bar__desktop {
    display: block;
  }
}

@media (min-width: 925px) {
  .about-us p {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
  }
}
#contact-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}
#contact-modal.show {
  display: flex;
}
@media (max-width: 600px) {
  #contact-modal {
    display: none !important;
  }
}

#contact-modal__content {
  background: url(/public/media/backgrounds/modal-bg.76e0ddc9.jpg);
  background-size: cover;
  background-position: left 0;
  width: 610px;
  height: 610px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contact-modal__close {
  font-size: 30px;
  cursor: pointer;
}

#contact-modal__content__title {
  text-align: center;
  color: #154b9c;
  font-weight: 800;
  font-size: 2rem;
  margin: 10px 0;
  width: 460px;
}

#contact-modal__content__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-modal__content__form .form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  color: #040ea3;
}
#contact-modal__content__form .form-field .form-field__input {
  width: 400px;
  height: 7vh;
  color: #040ea3;
  font-weight: 800;
  padding-right: 15px;
  border: 0 solid #352f8a;
  box-shadow: 0 0 4px -1px #213b7f;
}
#contact-modal__content__form .form-field.checkbox {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 5px;
}
#contact-modal__content__form button {
  background: #154b9c;
  width: 210px;
  border: none;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 50px;
}
