.navigation-bar {
  width: 100%;
  height: 150%;
  position: relative;
  top: 0;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 4;
}
@media (min-width: 925px) {
  .navigation-bar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 73px;
    justify-content: center;
    align-items: center;
  }
}

.navigation-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  z-index: 5;
}
@media (min-width: 925px) {
  .navigation-container {
    width: fit-content;
  }
}
.navigation-container .links-container {
  display: none;
  position: absolute;
  top: 53px;
  right: 0;
  width: 100%;
  background: #fff;
  padding-right: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.navigation-container .links-container.show {
  display: flex;
  border-bottom: 10px solid #213b7f;
}
.navigation-container .links-container .nav-link {
  font-size: 1.25rem;
  margin: 10px 0 20px 0;
  color: #000;
}
.navigation-container .links-container .careers-container {
  margin: 10px 0 20px 0;
}
.navigation-container .links-container .careers-container span {
  font-size: 1.25rem;
  color: #000;
}
.navigation-container .links-container .careers-container span i {
  font-style: normal;
  font-size: 15px;
}
.navigation-container .links-container .careers-container .career-links {
  display: none;
}
.navigation-container .links-container .careers-container .career-links.show {
  display: block;
}
.navigation-container .links-container .careers-container .career-link {
  font-size: 1.25rem;
  margin: 10px 10px 20px 0;
  color: #000;
}
@media (min-width: 925px) {
  .navigation-container .links-container {
    display: flex;
    position: static;
    padding-right: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    height: 100%;
  }
  .navigation-container .links-container #home {
    display: none;
  }
  .navigation-container .links-container .nav-link {
    font-size: 16px;
    margin: 10px 2px;
  }
  .navigation-container .links-container .careers-container {
    margin: 10px 2px;
    display: flex;
    justify-content: center;
  }
  .navigation-container .links-container .careers-container span {
    font-size: 16px;
  }
  .navigation-container .links-container .careers-container .career-link {
    margin: 0;
  }
  .navigation-container .links-container .link-container {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
  }
  .navigation-container .links-container .link-container a:hover {
    font-weight: 700;
    color: #213a7f;
  }
  .navigation-container .links-container .splitter::after {
    content: "|";
    font-size: 1.5rem;
    margin-right: 5px;
    color: #000;
    font-weight: 400;
    transform: scale(1);
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  margin: 7px 0 auto 10px;
  position: relative;
  align-self: flex-start;
}
.menu-button .menu-line {
  height: 5px;
  width: 40px;
  margin: 7px 0;
  background: #213a7f;
  border-radius: 30px;
  transition: all 200ms linear;
}
.menu-button.active > #menu-line-top {
  transform: rotateZ(45deg) translateY(5px) translateX(11.5px);
}
.menu-button.active > #menu-line-middle {
  transform: translateX(2rem);
  opacity: 0;
}
.menu-button.active > #menu-line-bottom {
  transform: rotateZ(-45deg) translateY(-5px) translateX(11.5px);
}
@media (min-width: 925px) {
  .menu-button {
    display: none;
  }
}

a {
  text-decoration: none;
  cursor: default;
  display: flex;
  margin: 0;
}
a .logo-container {
  height: 60px;
  margin-top: -7px;
  width: min-content;
  flex-shrink: 0;
  align-self: flex-end;
  position: relative;
}
a .logo-container .logo {
  margin: 0 auto 5px;
  flex-shrink: 0;
  height: 100%;
}
a .logo-container .nav-subtitle {
  font-size: 0.6rem;
  font-weight: 700;
  color: #7e685a;
  position: absolute;
  bottom: 8px;
  right: 10px;
}
@media (min-width: 925px) {
  a .logo-container {
    height: 73px;
    margin-top: 0;
  }
}
