.why-us {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.why-us .why-us__title {
  font-size: 2.9rem;
  text-align: center;
}
.why-us .why-us__description {
  padding: 50px 15px 60px 0;
}
.why-us .why-us__description .pro-text {
  margin-right: 5px;
}
.why-us .why-us__description .pro-text.blue {
  color: #0000ff !important;
}
.why-us .why-us__description .why-us__description__difference {
  padding: 10px;
  margin: 10px 0;
}
.why-us .why-us__description .why-us__description__difference.them {
  background-color: black;
  color: white;
}
.why-us .why-us__description .why-us__description__difference.us {
  background-color: #eff6df;
  color: black;
}
.why-us .why-us__description .why-us__description__difference .paragraph-link {
  display: inline;
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}
.why-us .why-us__description .why-us__description__difference > ol {
  padding-right: 20px;
}
.why-us .why-us__description .why-us__description__difference > ol > li {
  font-size: 1.1rem;
  cursor: default;
}
@media (min-width: 925px) {
  .why-us {
    height: 70%;
    margin: 0;
    padding-bottom: 0;
    box-shadow: 10px 50px 100px #000;
  }
}

@media (min-width: 925px) {
  .why-us__description__differences {
    display: flex;
  }
  .why-us__description__differences .why-us__description__difference {
    width: 50%;
    max-width: 550px;
    margin: 10px;
    padding: 10px;
    transition: all 500ms linear;
  }
  .why-us__description__differences .why-us__description__difference:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 50px;
  }
}
